{% extends 'layouts/app.html' %}

{% block title %}Оптимизация расчетов{% endblock %}

{% block content %}
{% load static %}
<section class="content-header">
    <h1 class="text-center text-bold">
        ВВЕДЕНИЕ (аннотация диссертации доктора философии (PhD))
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <p
                        style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;color:black;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style="font-size:19px;line-height:150%;color:windowtext;">Актуальность и
                                востребованность темы диссертации.</span></strong><strong><span
                                style="font-size:19px;line-height:150%;color:red;"> </span></strong><span
                            style="font-size:19px;line-height:150%;color:windowtext;">Просачивание однородных жидкостей в
                            пористые среды используется во многих технологических процессах.</span></p>
                    <p
                        style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;color:black;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style="font-size:19px;line-height:150%;color:windowtext;">В частности, движение нефти, газа и
                            воды в подземных слоях представляет собой процесс просачивания жидкостей в пористых средах. Если
                            жидкость имеет аномальные реологические свойства, процесс просачивания будет аномальным, то есть
                            этот процесс будет подчиняться закону Дарси.</span></p>
                    <p
                        style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;color:black;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style="font-size:19px;line-height:150%;color:windowtext;">При этом закон Дарси может быть как
                            нелинейным, так и иметь начальный (граничный) градиент давления или иметь вид неравновесного
                            уравнения. Закон неравновесности Дарси был использован в форме наследственного интеграла и
                            релаксационной связи, и были получены значимые результаты.</span></p>
                    <p
                        style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;color:black;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style="font-size:19px;line-height:150%;color:windowtext;">За последние 10&ndash;20 лет закон
                            Дарси был записан в форме дробной производной для фрактальных сред. Получены первые результаты
                            для уравнений проницаемости на основе этого закона. Однако полный анализ еще не проведен и есть
                            много нерешенных вопросов.</span></p>
                    <p
                        style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;color:black;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style="font-size:19px;line-height:150%;color:windowtext;">Основной целью моей диссертации
                            является построение и численное исследование аномальных уравнений возмущений, то есть
                            математических моделей, основанных на законе Дарси в виде дробной производной.</span></p>
                    <p
                        style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;color:black;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style="font-size:19px;line-height:150%;">Сегодня в мире интенсивно ведутся научные
                            исследования по анализу процесса аномального фильтрации однородных жидкостей в пористых средах с
                            фрактальной структурой. В этом направлении приоритетными считаются исследования по построению
                            математических моделей и численному исследованию процессов просачивания жидкостей и газов в
                            пористых средах. При этом особое внимание уделяется совершенствованию математического
                            моделирования процессов аномальной фильтрации жидкостей и газов в пористых средах на основе
                            дифференциальных уравнений дробного порядка, а также разработке эффективных вычислительных
                            алгоритмов и программ для решения соответствующих задач.</span></p>
                    <p
                        style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman",serif;color:black;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style="font-size:19px;line-height:150%;">В нашей республике особое внимание уделяется
                            разработке мероприятий по математическому моделированию сложных гидродинамических процессов,
                            связанных с фильтрацией однородных жидкостей в пористых средах, созданию численных моделей и
                            алгоритмов, а также их практическому применению.&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Данная</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;color:red;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>диссертационная</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;color:red;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>исследование в
                            определенной мере послужит реализации задач, обозначенных в Постановлении Президента Республики
                            Узбекистан от 15 июля 2008 года № ПП-916 &laquo;О дополнительных мерах по стимулированию
                            внедрения в производство инновационных проектов и технологий&raquo;, от 17 февраля 2017 года №
                            ПП-2789 &laquo;О мерах по дальнейшему совершенствованию деятельности Академии наук, организации,
                            управления и финансирования научно-исследовательских работ&raquo; и Указе от 8 февраля 2017 года
                            № ПФ-4947 &laquo;О Стратегии действий по дальнейшему развитию Республики Узбекистан&raquo;, а
                            также других нормативно-правовых актах, касающихся данной деятельности.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span
                                style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Соответствие
                                исследования приоритетным направлениям развития науки и технологий
                                республики.</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;Данное
                            исследование выполнено<strong>&nbsp;</strong>в соответствии с приоритетным направлением развития
                            науки и технологий в Республике Узбекистан IV. &laquo;Математика, механика и
                            информатика&raquo;.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Степень
                                изученности проблемы. </span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>За последние годы
                            разработка и усовершенствование гидродинамических моделей аномальной фильтрации и переноса
                            веществ в неоднородных пористых средах и их численная реализация рассмотрены в работах таких
                            ученых, как, C.Atkinson, S.Banerjee, G.I.Barenblatt, T.W.Patzek, D.B.Silin, F.Boyer, C.Lapuerta,
                            S.Minjeaud, Golfier F., Pongraz R., Panga M. K., А.Дарси, Л.С.Лейбензон, А.Х.Мирзаджанзаде,
                            М.М.Хасанов, Б.Б.Лапук, И.А.Чарный, Х.Азиз, Э.Сеттари, С.Н.Закиров, К.С.Басниев, Нигматулин
                            Р.И., Д.Ж.Ахмед-Заки, А.В.Ахметзянов, А.В.Цепаев, Б.В.Шалимов и др</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;color:red;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>В Узбекистане
                            существенную лепту в разработку гидродинамических моделей и вычислительных методов для
                            исследования процессами фильтрации жидкости и газа в пористых средах внесли отечественные ученые
                            В.К.Кабулов, Ф.Б.Абуталиев, Ж.Ф.Файзуллаев Н.М.Мухидинов, Р.Садуллаев, И.Алимов, Ж.Акилов,
                            Б.Х.Хўжаёров, И.К.Хужаев, Н.Равшанов, Ш.Қаюмов и др.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>В настоящее время
                            разработаны математические модели, вычислительные алгоритмы и программные комплексы для решения
                            различных задач процессов фильтрации в нефтегазовых и водоносных горизонтах. Однако проблема
                            создания компьютерных моделей, способных изучать и проверять сложные сенсорные процессы в
                            многоуровневых системах, изучена недостаточно.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Связь
                                темы диссертации с научно-исследовательскими работами высшего учебного заведения, в котором
                                выполнена диссертация.</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Диссертационное
                            исследование выполнено в соответствии с планом научно-исследовательских работ Самаркандского
                            государственного университета имени Шарафа Рашидова №19.12 &laquo;Разработка математических
                            моделей и численный анализ инженерных и природных процессов&raquo; (2000-2018 гг), ОТ-Ф4-64
                            &laquo;Составление и численный анализ гидродинамических моделей фильтрации жидкости и переноса
                            веществ в неоднородных пористых средах&raquo; (2017-2020 гг).</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Целью
                                исследования</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;является
                            построение математических моделей уравнений аномальных фильтрация на основе закона Дарси в виде
                            дробной производной и проведение их численного исследования.&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Задачи
                                исследования:</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-</span><span
                            style='font-family:"Times New Roman",serif;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>совершенствование
                            математических моделей процессов перколяции в пористых средах с фрактальной структурой на основе
                            аномального закона Дарси;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>- разработка
                            алгоритмов расчета профилей давления и скорости потока на основе аномального закона Дарси с
                            учетом параметров релаксации жидкости в пористой среде;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>- постановка и
                            численное решение задачи аномального течения жидкости в пористой среде с учетом предельного
                            градиента давления;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>- постановка и
                            разработка алгоритмов решения плоской радиальной задачи аномального просачивания однородной
                            жидкости в пористой среде;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-</span><span
                            style='font-family:"Times New Roman",serif;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>проведение
                            численных расчетов и составление выводов на основе полученных результатов;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Объектом
                                исследования </span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>являются процессы
                            физико-химического воздействия на нефтяные и нефтегазоконденсатные пласты с целью повышения их
                            нефтеотдачи.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Предметом
                                исследования являются </span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>процессы
                            просачивания в многофазных, многокомпонентных средах.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Методы
                                исследования. </span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>В процесс
                            исследовании использованы фундаментальные законы сохранения механики, дробные законы Дарси и
                            Фика, основные уравнения теории фильтрации, методы математического и численного
                            моделирования.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Научная
                                новизна диссертационного исследования </span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>заключается в
                            следующем:</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-
                            усовершенствована математическая модель процесса фильтрации аномально-однородных жидкостей в
                            пористых средах и разработан алгоритм решения задачи;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-
                            усовершенствована математическая модель процесса фильтрация жидкости с учетом фрактальной
                            структуры среды и разработан вычислительный алгоритм для решения задачи в одном измерении с
                            использованием метода конечных разностей;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-
                            усовершенствована математическая модель с учетом фактора релаксации при фильтрации жидкости в
                            пористой среде, определены профили давления и скорости фильтрации при различных значениях
                            дробного порядка во времени;&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>- изучена задача
                            аномального фильтрации жидкости в пористых средах с учетом предельного градиента давления. Закон
                            Дарси моделируется дифференциальным уравнением дробного порядка. Были рассчитаны профили
                            давления и скорости фильтрации для некоторого предельного градиента давления и оценено влияние
                            предельного градиента давления на скорость фильтрация;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-</span> <span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Профили давления и
                            скорости фильтрации определялись при различных значениях дробного порядка с течением времени в
                            плоской радиальной пористой среде.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span
                                style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Практические
                                результаты</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;<strong>исследования</strong>
                            заключаются в следующем:</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>- разработан
                            алгоритм расчета профилей давления и скорости фильтрации с учетом параметров релаксации при
                            аномальном истечении однородных жидкостей в пористых средах с фрактальной структурой;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>- разработаны
                            теорема и алгоритм оценки устойчивости задачи о фильтрации жидкости в пористых средах с
                            фрактальной структурой;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-</span><span
                            style='font-family:"Times New Roman",serif;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>разработан
                            эффективный алгоритм численного решения задачи аномальной утечки жидкости для пористых сред с
                            плоскорадиальной и неплоскорадиальной фрактальной структурой для определения влияния предельного
                            градиента давления;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>-</span><span
                            style='font-family:"Times New Roman",serif;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>разработано
                            программное обеспечение для задачи аномальной утечки однородных жидкостей в пористых
                            средах;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span
                                style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Достоверность
                                результатов исследования.</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;При численном
                            решении задач проверена их устойчивость. На основе численных результатов проведен физический
                            анализ и оценка их соответствия реальным гидродинамическим процессам.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <br></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Научная и
                                практическая значимость результатов исследования.</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <br></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Внедрение
                                результатов исследования.</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                    <p><span style='font-size:19px;font-family:"Calibri",sans-serif;'><br>&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;line-height:normal;'>
                        <strong><span style='font-size:19px;font-family:"Times New Roman",serif;'>&nbsp;</span></strong></p>
                    <h1
                        style='margin:0in;margin-bottom:.0001pt;text-align:justify;font-size:16px;font-family:"Times New Roman",serif;text-indent:35.45pt;line-height:150%;'>
                        <span style="font-size:19px;line-height:150%;">Апробация результатов исследования.&nbsp;</span><span
                            style="font-size:19px;line-height:150%;font-weight:normal;">Результаты данного исследования
                            обсуждены __ международных и __ республиканских научно-практических конфренциях.</span></h1>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:35.45pt;line-height:150%;'>
                        <strong><span
                                style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Публикация
                                результатов исследования.</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;По теме
                            диссертации опубликовано __ научных работ, из них __ входит в перечень научных изданий,
                            предложенных Высшей аттестационной комиссией Республики Узбекистан для публикации результатов
                            диссертационных работ, в том числе __ опубликовано в зарубежных и __ в республиканских научных
                            журналах, а также получено свидетельство о регистрации программного продукта для ЭВМ (№ DGU
                            42110).&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:.5in;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Объём и
                                структура диссертации</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>. Диссертация
                            состоит из введения, четырех глав, заключения, списка использованной литературы и приложения.
                            Объем диссертации составляет ___ страниц.</span></p>
                    <p
                        style='margin-top:12.0pt;margin-right:0in;margin-bottom:12.0pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:center;text-indent:.5in;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>ОСНОВНОЕ
                                СОДЕРЖАНИЕ ДИССЕРТАЦИИ</span></strong></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:.5in;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Во
                                введении </span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>определяется
                            актуальность, цель и сущность темы диссертации, отражаются научная и практическая новизна
                            полученных результатов, определяется соответствие приоритетным направлениям развития науки и
                            техники, а также Кратко описывается основное содержание диссертации.</span><span
                            style='font-family:"Times New Roman",serif;'>&nbsp;</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:.5in;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>В первой
                                главе</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;диссертации,
                            названной &laquo;Аномальная фильтрация однородной жидкости в пористых средах и ее математические
                            модели&raquo;, приводится анализ проблем моделирования аномальная фильтрация жидкости в пористых
                            средах проведен анализ численных методов решения задач аномальной фильтраций в пористых средах и
                            понятия дробного производной.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:.5in;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Во второй
                                главе</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;диссертации
                            &laquo;Релаксационные модели аномальной фильтрации и их численная реализация&raquo; аномальный
                            закон Дарси используется в виде релаксационной связи и получены значимые результаты.</span></p>
                    <p
                        style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;font-size:11.0pt;font-family:"Calibri",sans-serif;text-align:justify;text-indent:.5in;line-height:150%;'>
                        <strong><span style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>В третьей
                                главе</span></strong><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>&nbsp;&laquo;</span><span
                            style='font-family:"Times New Roman",serif;'>&nbsp;</span><span
                            style='font-size:19px;line-height:150%;font-family:"Times New Roman",serif;'>Аномальная
                            фильтрации с ПГД&raquo; диссертации, поставлены и численно решены задачи аномальной фильтрации с
                            ПГД в &nbsp;пористой среде.</span></p>
                    <p><strong><span style='font-size:19px;font-family:"Times New Roman",serif;'>В четвертой главе
                            </span></strong><span style='font-size:19px;font-family:"Times New Roman",serif;'>диссертации
                            &laquo;Программная среда расчета характеристик аномальной фильтрации жидкости в пористых
                            средах&raquo; разработан программных средств для решение задач.</span></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}